<%- include("templates/header.template.ejs", {titulo: "Ver Estudiantes" }) %>
    <%- include("templates/nav.template.ejs") %>

    <% salas.forEach((sala) => { %>
        <h1 class="center"> <%= sala.nombre %></h1>

        <table class="custom-table">
            <thead>
                <tr>
                    <th>Número de Cuenta</th>
                    <th>Nombre</th>
                    <th>Huella</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                <% sala.estudiantes.forEach((estudiante) => { %>
                    <tr>
                        <td><%= estudiante.numeroCuenta %></td>
                        <td><%= estudiante.nombre %></td>
                        <td><%= estudiante.huella %></td>
                        <td><%= estudiante %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        
    <% }); %>
    

          


        <%- include("templates/footer.template.ejs") %>